/*  your css code here. If applicable */
.code-container{
	display:flex;
	gap: 10px;
}
.code{
	width:90px;
	height: 150px;
	text-align:center;
	font-size:70px;
	border-radius:10px;	
}
#root{
	border:1px solid black;
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	align-items: center;
	padding:10px;
	
}